# Import

## Modules

In [1]:
import numpy as np
import pandas as pd

## Data

In [2]:
df = pd.DataFrame.from_dict({"date": pd.date_range('2015-02-24', periods=10, freq='D'),
                             "col1": np.random.randint(5, size=10), 
                             "col2": 100*np.random.randint(5, size=10),
                             "col3": np.random.randn(1, 10).squeeze()})

## Inspecting the Data

In [4]:
df

        date  col1  col2      col3
0 2015-02-24     2   200 -0.185071
1 2015-02-25     1     0 -1.189789
2 2015-02-26     3   300 -0.765430
3 2015-02-27     2     0  0.740835
4 2015-02-28     2   300 -0.457109
5 2015-03-01     3   300  1.485800
6 2015-03-02     3     0 -1.072185
7 2015-03-03     3   400 -0.103643
8 2015-03-04     1     0 -0.319524
9 2015-03-05     4   300 -0.420616

# Problem Statement

Aggregate the previous data set according to day, week and month

# Solution

Set the date as the index of the data frame

In [5]:
df.set_index(pd.to_datetime(df["date"].dt.date), inplace=True)
df

                 date  col1  col2      col3
date
2015-02-24 2015-02-24     2   200 -0.185071
2015-02-25 2015-02-25     1     0 -1.189789
2015-02-26 2015-02-26     3   300 -0.765430
2015-02-27 2015-02-27     2     0  0.740835
2015-02-28 2015-02-28     2   300 -0.457109
2015-03-01 2015-03-01     3   300  1.485800
2015-03-02 2015-03-02     3     0 -1.072185
2015-03-03 2015-03-03     3   400 -0.103643
2015-03-04 2015-03-04     1     0 -0.319524
2015-03-05 2015-03-05     4   300 -0.420616

## By day

In [6]:
df['col1'].resample('D').sum().to_frame()

            col1
date
2015-02-24     2
2015-02-25     1
2015-02-26     3
2015-02-27     2
2015-02-28     2
2015-03-01     3
2015-03-02     3
2015-03-03     3
2015-03-04     1
2015-03-05     4

## By week

In [7]:
df['col1'].resample('W').sum().to_frame()

            col1
date
2015-03-01    13
2015-03-08    11

### By week and by `co11`

In [9]:
df.groupby([pd.Grouper(freq='W'), 'col1']).count()

                 date  col2  col3
date       col1
2015-03-01 1        1     1     1
           2        3     3     3
           3        2     2     2
2015-03-08 1        1     1     1
           3        2     2     2
           4        1     1     1

### Using Value Counts

In [13]:
df['col1'].groupby(pd.Grouper(freq='W')).value_counts().to_frame()

                 col1
date       col1
2015-03-01 2        3
           3        2
           1        1
2015-03-08 3        2
           1        1
           4        1

## By month

In [8]:
df['col1'].resample('M').sum().to_frame()

            col1
date
2015-02-28    10
2015-03-31    14