In [1]:
import pandas as pd

In [2]:
users = pd.read_csv("ielts_users.csv")
notifs = pd.read_csv("ielts_notifications.csv")

In [5]:
notifs["added_date"] = pd.to_datetime(notifs["added_date"])

In [6]:
notifs

           id  message_mode  user_id  read_status          added_date
0       20363             2    19578            0 2017-01-01 00:15:00
1       20368             2    19434            0 2017-01-01 01:15:00
2       20374             1    19697            0 2017-01-01 02:39:00
3       20375             5    19691            1 2017-01-01 02:45:00
4       20377             2    19436            0 2017-01-01 03:15:00
...       ...           ...      ...          ...                 ...
50210  223285             2    84175            0 2019-03-31 22:45:00
50211  223289             2    84604            0 2019-03-31 23:00:00
50212  223295             2    84608            0 2019-03-31 23:15:00
50213  223300             2    84180            0 2019-03-31 23:45:00
50214  223303             1    84914            0 2019-03-31 23:59:00

[50215 rows x 5 columns]

In [9]:
# users["buy_now_clicked_date"] = pd.to_datetime(users["buy_now_clicked_date"])
# # users["registration_date"] = pd.to_datetime(users["registration_date"])

In [76]:
subset_clicked = users.query("buy_now_clicked > 0")
subset_clicked["buy_now_clicked_date"] = pd.to_datetime(subset_clicked["buy_now_clicked_date"])
subset_clicked

/tmp/ipykernel_3261/2912072111.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_clicked["buy_now_clicked_date"] = pd.to_datetime(subset_clicked["buy_now_clicked_date"])

,access_level,age,buy_now_clicked,buy_now_clicked_date,chosen_package,degree,gender,last_login,oauth_provider,registration_date,status,user_id,user_type,registration_date_year,cost,fb_cost
5,0,NaN,1,2017-02-01 06:36:00,bronze,NaN,NaN,1.483299e+09,NaN,2017-01-01 09:23:00,1,19722,0,2017,2.5,NaN
7,0,NaN,1,2017-01-21 22:30:00,silver,NaN,NaN,1.516419e+09,NaN,2017-01-01 17:59:00,1,19738,0,2017,2.5,NaN
13,0,NaN,1,2017-03-01 03:44:00,gold,NaN,NaN,1.537391e+09,NaN,2017-02-01 08:16:00,1,19765,0,2017,2.5,NaN
15,0,NaN,1,2017-04-01 10:40:00,bronze,NaN,Male,1.483576e+09,NaN,2017-02-01 20:25:00,1,19775,0,2017,2.5,NaN
38,0,NaN,1,2017-02-16 21:29:00,bronze,NaN,NaN,NaN,NaN,2017-04-01 14:49:00,1,19878,0,2017,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14268,0,NaN,1,2018-12-15 00:26:00,bronze,NaN,Male,NaN,google,2018-12-13 12:54:00,1,77457,2,2018,2.3,NaN
14270,0,NaN,1,2018-12-15 06:30:00,silver,NaN,NaN,1.544816e+09,google,2018-12-13 13:33:00,1,77459,2,2018,2.3,NaN
14290,0,NaN,1,2018-12-16 19:10:00,silver,NaN,Female,NaN,google,2018-12-14 17:57:00,1,77515,2,2018,2.3,NaN
14340,0,NaN,1,2018-12-19 21:31:00,silver,NaN,NaN,1.545216e+09,NaN,2018-12-18 13:59:00,1,77697,0,2018,2.3,NaN
14410,0,NaN,1,2019-03-01 21:46:00,bronze,NaN,NaN,1.546600e+09,NaN,2018-12-26 11:00:00,1,77981,0,2018,2.3,NaN

In [77]:
merged = notifs.query("read_status > 0").merge(subset_clicked[["buy_now_clicked_date", "user_id"]], on="user_id", how="left")

In [78]:
merged

,id,message_mode,user_id,read_status,added_date,buy_now_clicked_date
0,20375,5,19691,1,2017-01-01 02:45:00,NaT
1,20403,2,19590,1,2017-01-01 08:45:00,NaT
2,20408,5,19656,1,2017-01-01 11:00:00,NaT
3,20415,2,19594,1,2017-01-01 13:15:00,NaT
4,20437,1,19707,1,2017-01-01 20:16:00,NaT
...,...,...,...,...,...,...
5433,222841,1,84768,1,2019-03-30 11:39:00,NaT
5434,222903,2,84458,1,2019-03-30 17:00:00,NaT
5435,222911,1,84793,1,2019-03-30 17:34:00,NaT
5436,222955,1,84805,1,2019-03-30 21:21:00,NaT
5437,223039,2,84510,1,2019-03-31 02:45:00,NaT

In [82]:
import numpy as np
merged["time_since_clicked"] = (merged["added_date"] - merged["buy_now_clicked_date"])/np.timedelta64(1,'m')

In [83]:
merged[merged["time_since_clicked"] <= 10].drop_duplicates(subset="user_id").shape[0]

277

In [40]:
subset_clicked["buy_now_clicked_dt"] = subset_clicked["buy_now_clicked_date"].dt.date
subset_clicked["buy_now_clicked_year"] = subset_clicked["buy_now_clicked_date"].dt.year

/tmp/ipykernel_3261/35780660.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_clicked["buy_now_clicked_dt"] = subset_clicked["buy_now_clicked_date"].dt.date
/tmp/ipykernel_3261/35780660.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_clicked["buy_now_clicked_year"] = subset_clicked["buy_now_clicked_date"].dt.year

In [39]:
subset_clicked["revenue"] = subset_clicked["chosen_package"].map({"bronze": 20, "silver": 50, "gold": 70})

/tmp/ipykernel_3261/1061504496.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_clicked["revenue"] = subset_clicked["chosen_package"].map({"bronze": 20, "silver": 50, "gold": 70})

In [42]:
subset_clicked.groupby("buy_now_clicked_year")["revenue"].sum().sum()

19380.0

In [43]:
notifs["user_id"].nunique()

16172

In [44]:
notifs.shape[0] / notifs["user_id"].nunique()

3.105058125154588

In [45]:
users.groupby("oauth_provider")["buy_now_clicked"].mean()

oauth_provider
facebook    0.019295
google      0.015492
Name: buy_now_clicked, dtype: float64

In [46]:
users.isnull().sum()

access_level                0
age                     14217
buy_now_clicked             0
buy_now_clicked_date        0
chosen_package          13978
degree                  14271
gender                  10906
last_login              13247
oauth_provider          10142
registration_date           0
status                      0
user_id                     0
user_type                   0
dtype: int64

In [49]:
10142/users.shape[0]

0.7024032135189417

In [50]:
users["registration_date"] = pd.to_datetime(users["registration_date"])

In [51]:
users["registration_date_year"] = users["registration_date"].dt.year

In [53]:
users["cost"] = users["registration_date_year"].map({2017: 2.5, 2018: 2.3})

In [57]:
subset = users.drop_duplicates(subset="user_id")

In [63]:
subset.groupby("registration_date_year")["cost"].sum().mean()

17269.949999999997

In [66]:
subset.groupby("registration_date_year")["cost"].sum().to_frame().pct_change()

                            cost
registration_date_year
2017                         NaN
2018                    0.077276

In [67]:
subset.groupby("registration_date_year")["cost"].sum().to_frame().diff()

                          cost
registration_date_year
2017                       NaN
2018                    1284.9

In [68]:
users["fb_cost"] = users["oauth_provider"].map({"facebook": 0.05})

In [70]:
users.query("oauth_provider == 'facebook'").groupby("registration_date_year")["fb_cost"].sum()

registration_date_year
2017    77.8
2018    72.5
Name: fb_cost, dtype: float64

In [72]:
users.query("oauth_provider == 'facebook'").groupby("registration_date_year")["fb_cost"].sum().to_frame().diff()

                        fb_cost
registration_date_year
2017                        NaN
2018                       -5.3

In [73]:
72.5 - 5.3

67.2

In [74]:
users["buy_now_clicked_date"]

0        0000-00-00 00:00:00
1        0000-00-00 00:00:00
2        0000-00-00 00:00:00
3        0000-00-00 00:00:00
4        0000-00-00 00:00:00
                ...
14434    0000-00-00 00:00:00
14435    0000-00-00 00:00:00
14436    0000-00-00 00:00:00
14437    0000-00-00 00:00:00
14438    0000-00-00 00:00:00
Name: buy_now_clicked_date, Length: 14439, dtype: object